@import "tailwindcss";

@font-face {
  font-family: 'W95FA';
  src: url('/fonts/w95fa.woff2') format('woff2'),
       url('/fonts/w95fa.woff') format('woff'),
       url('/fonts/W95FA.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'W95FA', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  pre {
    font-family: inherit;
  }

  #root {
    width: 100%;
    min-height: 100vh;
  }
}